.main {
  position: relative;
  height: 100%;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  .time {
    margin-top: -6rem;
    font-weight: 500;
    font-size: 6rem;
    span {
      font-size: 3.5rem;
      margin-left: -0.8rem;
    }
  }
  .username {
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: $offWhite2;
  }
  .google-search {
    position: relative;
    width: 30rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 3rem;
    @include flex-align-center(row);
    input {
      background: transparent;
      color: $offWhite1;
      padding: 0.6rem;
      padding-left: 2.8rem;
      flex: 1;
      &::placeholder {
        color: $offWhite3;
      }
    }
    .search-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.9rem;
      pointer-events: none;
      font-size: 1.4rem;
    }
  }
  .weather {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    &.active {
      border-radius: 1rem;
      .top {
        margin-bottom: 0.5rem;
      }
    }
    .top {
      @include flex-align-center(row);
      gap: 0.5rem;
      color: $offWhite3;
      svg {
        font-size: 1.4rem;
        color: $offWhite2;
      }
      .dropdown {
        font-size: 1rem;
        cursor: pointer;
        @include transition-ease;
        &.active {
          transform: rotate(-180deg);
        }
      }
    }
    .form {
      width: 10rem;
      input {
        font-size: 1rem !important;
        letter-spacing: 0.5px;
      }
    }
  }
  .todo {
    @include flex-align-center(row);
    gap: 0.5rem;
    color: $offWhite3;
    font-size: 1.2rem;
    svg {
      cursor: pointer;
    }
    .completed {
      color: $green;
    }
    .done {
      @include transition-ease;
      text-decoration: line-through;
      color: $gray;
    }
    .edit-todo-form {
      width: 80%;
    }
    .edit-todo-input {
      width: 100%;
      background: transparent;
      border-bottom: 1px solid $offWhite2;
      color: $offWhite3;
      width: 100%;
      &::placeholder {
        color: $offWhite3;
      }
    }
    .actions {
      @include flex-align-center(row);
      margin-left: 1.5rem;
      font-size: 1rem;
      gap: 0.5rem;
      svg {
        color: $offWhite3;
        &:hover {
          color: $offWhite1;
        }
      }
    }
  }
  .mainfocus {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    &__form {
      width: 18rem;
      @include flex-align-center(row);
      margin-bottom: 1rem;
      border-bottom: 1px solid $offWhite2;
      .input-group {
        flex: 1;
        width: 100%;
        input {
          width: 100%;
          flex: 1;
          border-bottom: none;
          font-size: 1.1rem;
          padding-left: 1.9rem;
          color: $offWhite2;
        }
        svg {
          font-size: 1rem;
          color: $offWhite2;
        }
      }
      .btn-fade {
        svg {
          font-size: 1.15rem;
        }
      }
    }
  }
  .dailyquote {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    color: $offWhite2;
    letter-spacing: 0.4px;
  }
  .todo-toggler {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    letter-spacing: 0.5px;
    padding: 0.4rem 1.5rem;
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .todo-container {
    position: absolute;
    bottom: 4rem;
    right: 0;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 1s forwards;
    .todos {
      margin-bottom: 0.5rem;
      .todo {
        width: 100%;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        p {
          flex: 1;
        }
        .actions {
          margin-left: 0.6rem;
          font-size: 0.9rem;
          gap: 0.7rem;
        }
      }
    }
  }
  .customize {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem 0.8rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    font-size: 1rem;
    color: $offWhite2;
    letter-spacing: 0.4px;
    cursor: pointer;
    @include flex-align-center(row);
    gap: 0.5rem;
  }
}
